name: C Calculator Build and Run

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install GCC
      run: sudo apt update && sudo apt install -y build-essential

    - name: Compile calculator
      run: gcc add.c sub.c mul.c div.c main.c -o calculator

    - name: Run calculator
      run: ./calculator
